* {
  font-family: "Montserrat";
  box-sizing: border-box;
}
h1 {
  font-weight: 700;
  font-size: 32px;
  margin: 0 0 16px 0;
}

section {
  padding: 64px 128px;
}
a {
  text-decoration: none;
  color: black;
  margin: 0 0 16px 0;
  font-size: 18px;
}
.btn {
  background-color: #ffc110;
  color: white;
  padding: 8px 24px;
}
.btn-alt {
  background-color: white;
  color: black;
  margin-right: 16px;
  border: 2px solid #ffc110;
}
#header {
  display: flex;
  padding: 16px 128px;
  align-items: center;
  justify-content: space-between;
}
#header h1 {
  margin: 0;
}

#landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 18px;
}
#landing > div {
  width: 50%;
}
#landing p {
  margin-bottom: 32px;
  font-size: 24px;
  color: gray;
}
nav > a {
  margin-left: 15px;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 18px;
}

#about > div {
  width: 50%;
}

#about-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 72px;
}

.about-stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-stats-item div {
  width: 50px;
  height: 10px;
  background-color: #ffc110;
  margin-bottom: 16px;
}

/* Section Service */

.service-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-top: 3rem;
}

.service-detail-item {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.service-detail-item img {
  width: 100%;
}

.service-detail-item h2 {
  padding: 0 16px;
  font-size: 18px;
}

.service-detail-item p {
  font-size: 16px;
  padding: 0 16px;
}
