* {
  font-family: "Montserrat";
  box-sizing: border-box;
}
h1 {
  font-weight: 700;
  font-size: 32px;
  margin: 0 0 16px 0;
}

section {
  padding: 64px 128px;
}
a {
  text-decoration: none;
  color: black;
  margin: 0 0 16px 0;
  font-size: 18px;
}
.btn {
  background-color: #ffc110;
  color: white;
  padding: 8px 24px;
}
.btn-alt {
  background-color: white;
  color: black;
  margin-right: 16px;
  border: 2px solid #ffc110;
}
#header {
  display: flex;
  padding: 16px 128px;
  align-items: center;
  justify-content: space-between;
}
#header h1 {
  margin: 0;
}

#landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 18px;
}
#landing p {
  margin-bottom: 32px;
  font-size: 24px;
  color: gray;
}
nav > a {
  margin-left: 15px;
}
